aws_region = "us-east-1"

db_name               = "mydb"
db_instance_class   = "db.t3.small"
db_engine            = "mysql"
db_engine_version    = "8.0"
db_username          = "admin"
db_password          = "YOUR_SECURE_PASSWORD"
allocated_storage     = 20
max_allocated_storage = 100
multi_az              = false
publicly_accessible   = false
vpc_id                = "vpc-xxxxxxxxxxxxxxxxx" # Replace with your VPC ID
db_subnet_group_name = "my-db-subnet-group"
security_group_ids    = ["sg-xxxxxxxxxxxxxxxxx"] # Replace with your Security Group ID
deletion_protection   = true
db_port = 3306
backup_retention_period = 7
skip_final_snapshot = true
final_snapshot_identifier_prefix = "final-snapshot"

tags = {
  Environment = "Production"
  Terraform   = "true"
  Project     = "MyProject"
}